<div class="container mt-5">
  <div class="row">
    <div class="col-md-4  pt-5">
      <h4 class="display-5">ASK A STUDENT</h4>
      <p>It is our mission to make higher education decisions error-free and ensure smooth transitions to new
        institutions</p>
      <button type="button" routerLink="bookcall" class="hButton"><i class="fa-solid fa-phone"></i>&nbsp;Book A Call</button>
      <button type="button" class="hButton"><i class="fa-solid fa-person-circle-question"></i>&nbsp;Ask A Question</button>
    </div>
    <div class="col-md-8 py-3">
      <div class="row">
        <div class="col-md-4">
          <div class="imgHClass">
            <img src="../../../../../assets/img1.jpg" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="imgHClass">
            <img src="../../../../../assets/img2.jpg" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="imgHClass">
            <img src="../../../../../assets/img3.jpg" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="imgHClass">
            <img src="../../../../../assets/img4.jpg" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="imgHClass">
            <img src="../../../../../assets/img5.jpg" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="imgHClass">
            <img src="../../../../../assets/img6.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


