<div class="container">
    <h5>User Profile</h5>
    <hr>
    <div class="row pb-4">
        <div class="col-md-2 text-center">
            <div class="useProClass">
                <img src="../../../../../assets/img1.webp" class="img-fluid" alt="">
                <button class="userButton" type="button"><i class="fa-solid fa-camera"></i></button>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Firstname">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Lastname">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Phone number">
                </div>
            </div>
            <div class="mt-2 row">
                <div class="col">
                    <select class="form-select">
                        <option selected>Country</option>
                        <option value="1">India</option>
                        <option value="2">Germany</option>
                    </select>
                </div>
                <div class="col">
                    <button type="button" class="buttonSave">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>