.useProClass{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 0.3rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    padding: 1rem;
    width: 120px;
    height: 120px;
}
.userButton{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid #E8DFCA;
    border-radius: 5rem;
}
.buttonSave{
    background-color: #F5EFE6;
    padding: 0.3rem;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid #E8DFCA;
}