<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="cardCsClass p-3">
              <h5 class="display-6 greenClass firstFZise">Welcome To AskAStudent!</h5>
              <p>Already have an account? <strong routerLink="/auth">Login</strong></p>
              <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Fristname">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Lastname">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="col">
                    <input type="passsword" class="form-control" placeholder="Confirm Password">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="col">
                    <input type="passsword" class="form-control" placeholder="Referral Code">
                </div>
              </div>
              <div class="text-center mt-3">
                <button class="rButton" type="button">Register</button>
              </div>
            </div>
        </div>
    </div>
</div>